{% extends "home/header.html" %}
{% load static %}
{% block content %}
<body>

	<div class="jumbotron text-center" style="background-image:linear-gradient(to top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, .7)), url({% static 'explore_img.jpg' %}); background-size: cover;">
        <h1>Explore</h1> 
        <p class="slideanim">Explore the various products available on our website</p> 
    </div>

    <div class="row" style="align-items: center; padding-left: 50px;">
        <div class="column">
        <div class="col s8 m12">
    <div class="card" style="max-height: 600px;">
            <div class="card-image waves-effect waves-block waves-light">
                   <img class="activator" src="{% static 'oneplus7pro.png' %}" style="max-height: 400px; max-width: 400px; border-radius: 7px;">
               </div>
               <div class="card-content">
                   <span class="card-title activator grey-text text-darken-4">OnePlus 7 Pro<i class="material-icons right">expand_less
</i></span>
                   <p>From Rs. 48,999</p>
               </div>
               <div class="card-reveal">
                   <span class="card-title grey-text text-darken-4">OnePlus 7 Pro<i class="material-icons right">close</i></span>
                   <p>The 6.67 inch Fluid AMOLED display on the OnePlus 7 Pro is our most advanced screen ever. Experience unrivalled smoothness and clarity with a 90 Hz refresh rate and QHD+ resolution.</p>
                   <p>Capture life in brand-new ways with a 48 MP main camera, ultra wide angle lens and 3x optical zoom. Combined with smart scene recognition and new Nightscape 2.0 technology, the OnePlus 7 Pro is your personal photo studio.</p><br>
                   <p>Specifications:</p>
                   <ul>
                    <li><b>OS:</b> Android 9 Pie OxygenOS</li>
                    <li><b>RAM:</b> 6 GB</li>
                    <li><b>Item Weight:</b> 204 g</li>
                    <li><b>Product Dimensions:</b> 16.3 x 0.9 x 7.6 cm</li>
                    <li><b>Batteries:</b> 1 Lithium ion batteries required.</li>
                    <li><b>Wireless communication technologies:</b> Bluetooth;WiFi Hotspot</li>
                    <li><b>Special features:</b> Dual Sim, Front Camera, Touchscreen, USB, In-display Fingerprint sensor, Accelerometer, Electronic compass, Gyroscope, Ambient light sensor, Proximity sensor, Sensor core, Laser sensor</li>
                    <li><b>Display technology:</b> pixel density of 515 PPI and Aspect Ratio 19.5:9</li>
                    <li><b>Other camera features:</b> 8MP</li>
                    <li><b>Form factor:</b> Touchscreen Phone</li>
                   </ul>
               </div>
           </div>
       </div>
        </div>

        <div class="column">
        <div class="col s8 m12">
        <div class="w3-green w3-hover-shadow w3-padding-64 w3-center" style="padding-left: 120px;">
    <div class="card" style="max-height: 600px;">
            <div class="card-image waves-effect waves-block waves-light">
                   <img class="activator" src="{% static 'oneplus7.png' %}" style="max-height: 400px; max-width: 400px; border-radius: 7px;">
               </div>
               <div class="card-content">
                   <span class="card-title activator grey-text text-darken-4">OnePlus 7<i class="material-icons right">expand_less
</i></span>
                   <p>From Rs. 32,999</p>
               </div>
               <div class="card-reveal">
                   <span class="card-title grey-text text-darken-4">OnePlus 7<i class="material-icons right">close</i></span>
                   <p>Rebuilt from the ground up using 7 nm technology, the new Qualcomm® Snapdragon 855™ mobile platform raises the bar for mobile power. Enjoy better gaming, sharper photos and amazing battery life.</p>
                   <p>With the OnePlus 7, everything is effortless. Crisp colors and stunning detail make the OnePlus 7’s 48 megapixel camera an essential companion for any mobile photographer, while OIS offers smooth and steady shots.</p>
                   <br>
                   <p>Specifications:</p>
                   <ul>
                    <li><b>OS:</b> Android 9 Pie OxygenOS</li>
                    <li><b>RAM:</b> 6 GB</li>
                    <li><b>Item Weight:</b> 181 g</li>
                    <li><b>Product Dimensions:</b> 16.8 x 0.8 x 7.5 cm</li>
                    <li><b>Batteries:</b> 1 C batteries required.</li>
                    <li><b>Wireless communication technologies:</b> Bluetooth;WiFi Hotspot</li>
                    <li><b>Special features:</b> Dual SIM;In-display Fingerprint;Face unlock</li>
                    <li><b>Display technology:</b> Aspect Ratio 19.5:9, Pixel Density and Bezel-less display with waterdrop notch 402 ppi</li>
                    <li><b>Other camera features:</b> 5MP</li>
                    <li><b>Form factor:</b> Touchscreen Phone</li>
                    </ul>
               </div>
           </div>
       </div>
       </div>
        </div>
    </div>

    <div class="row slideanim" style="align-items: center; padding-left: 225px;">
        <div class="column">
        <div class="col s8 m12">
        <div class="w3-green w3-hover-shadow w3-padding-64 w3-center">
    <div class="card" style="max-height: 500px;">
            <div class="card-image waves-effect waves-block waves-light">
                   <img class="activator" src="{% static 'oneplus_adapter.PNG' %}" style="max-height: 400px; max-width: 400px; border-radius: 7px;">
               </div>
               <div class="card-content">
                   <span class="card-title activator grey-text text-darken-4">OnePlus Power Adapter<i class="material-icons right">expand_less
</i></span>
                   <p>Price: Rs. 1,490</p>
               </div>
               <div class="card-reveal">
                   <span class="card-title grey-text text-darken-4">OnePlus Warp Charge 30 Power Adapter<i class="material-icons right">close</i></span>
                   <p>We’ve custom engineered our OnePlus Warp Charge 30 Power Adapter to be surprisingly clever. Integrated circuits are built into the adapter itself, so heat is dissipated before it ever reaches your phone. This means faster, safer, and cooler charging that never slows down – even while you’re browsing, gaming, or doing anything else you enjoy on your OnePlus device.</p>
                   <p>Our ultra-fast charging technology makes overnight charging a thing of the past. Simply plug in your OnePlus 7 Pro for 20 minutes for enough power to get you going, without having to worry about your device slowing down or overheating. The Warp Charge 30 Power Adapter is backwards compatible with previous OnePlus devices, offering Fast Charge speeds.</p>
                   <br>
                   <p>Specifications:</p>
                   <ul>
                    <li><b>Color:</b> White</li>
                    <li><b>Material:</b> PC</li>
                    <li><b>Dimensions:</b> 52*31*52 mm</li>
                    <li><b>Weight:</b> 85g</li>
                    <li><b>Input:</b> 100-240V~50/60Hz 1.2A</li>
                    <li><b>Output:</b> 5V=2A/5V=6A max</li>
                   </ul>
               </div>
           </div>
       </div>
       </div>
        </div>

         <div class="column">
        <div class="col s8 m12">
        <div class="w3-green w3-hover-shadow w3-padding-64 w3-center" style="padding-left: 150px;">
    <div class="card" style="max-height: 450px;">
            <div class="card-image waves-effect waves-block waves-light">
                   <img class="activator" src="{% static 'oneplus_wire.PNG' %}" style="max-height: 400px; max-width: 400px; border-radius: 7px;">
               </div>
               <div class="card-content">
                   <span class="card-title activator grey-text text-darken-4">OnePlus Type-C Cable 150 cm<i class="material-icons right">expand_less
</i></span>
                   <p>Price: Rs. 1,099</p>
               </div>
               <div class="card-reveal">
                   <span class="card-title grey-text text-darken-4">OnePlus Warp Charge Type-C Cable 150 cm<i class="material-icons right">close</i></span>
                   <p>At first glance, the OnePlus Warp Charge Type-C Cable might not look all that different from the OnePlus charging cables you’ve come to know and love. It’s still instantly recognizable and tangle-free thanks to our trademark flat, rollable design - all in quintessential OnePlus red and white.</p>
                   <p>But, the similarities end there. Underneath the premium silicone coating, broad internal cabling made of copper and nickel ensures that power reaches your OnePlus 7 Pro, OnePlus 7, OnePlus 6T, OnePlus 6, OnePlus 5T, OnePlus 5, OnePlus 3T or OnePlus 3 faster and cooler than ever before.</p>
                   <br>
                   <p>Specifications:</p>
                   <ul>
                    <li><b>Color:</b> Red</li>
                    <li><b>Material:</b> TPE + PC + PBT</li>
                    <li><b>Length:</b> 100cm | Weight: 40g</li>
                    <li><b>Length:</b> 150cm | Weight: 58g</li>
                   </ul>
               </div>
           </div>
       </div>
       </div>
        </div>
    </div>
    <br>




    <div class="row slideanim" style="align-items: center; padding-left: 50px;">
        <div class="column">
        <div class="col s8 m12">
    <div class="card" style="max-height: 500px;">
            <div class="card-image waves-effect waves-block waves-light">
                   <img class="activator" src="{% static 'samsung_note10.jpg' %}" style="max-height: 400px; max-width: 400px; border-radius: 7px;">
               </div>
               <div class="card-content">
                   <span class="card-title activator grey-text text-darken-4">Samsung Note 10+<i class="material-icons right">expand_less
</i></span>
                   <p>Price: Rs. 79,999</p>
               </div>
               <div class="card-reveal">
                   <span class="card-title grey-text text-darken-4">Samsung Note 10+<i class="material-icons right">close</i></span>
                   <p>The Intelligent battery that helps you power through your entire day. Laptop-level storage in your pocket.</p>
                   <p>Enjoy the freedom (or remote ability) to capture pro grade quality pictures with the S Pen Air Actions. The best camera experience for every occasion.</p>
                   <br>
                   <p>Specifications:</p>
                   <ul>
                    <li><b>CPU Speed:</b> 2.7GHz, 2.4GHz, 1.9GHz</li>
                    <li><b>CPU Type:</b> Octa-Core</li>
                    <li><b>Size (Main_Display):</b> 15.94cm (6.3") full rectangle / 15.82cm (6.2") rounded corners)</li>
                    <li><b>Resolution (Main Display):</b> 2280 x 1080 (FHD+)</li>
                    <li><b>Technology (Main Display):</b> Dynamic AMOLED</li>
                    <li><b>Color Depth (Main Display):</b> 16M</li>
                    <li><b>S Pen Support:</b> Yes (Gesture/Remote Control)</li>
                    <li><b>Rear Camera - Resolution (Multiple):</b> 12.0 MP + 16.0 MP + 12.0 MP</li>
                    <li><b>Rear Camera - F Number (Multiple):</b> F1.5/F2.4 (Dual Aperture) , F2.2 , F2.1</li>
                    <li><b>Rear Camera - Auto Focus:</b> Yes</li>
                    <li><b>Rear Camera - Zoom:</b> Optical Zoom at 2x , Digital Zoom up to 10x</li>
                    <li><b>Front Camera - Resolution:</b> 10.0 MP</li>
                   </ul>
               </div>
           </div>
       </div>
        </div>

        <div class="column">
        <div class="col s8 m12">
        <div class="w3-green w3-hover-shadow w3-padding-64 w3-center" style="padding-left: 100px;">
    <div class="card" style="max-height: 425px;">
            <div class="card-image waves-effect waves-block waves-light">
                   <img class="activator" src="{% static 'samsung_watch.PNG' %}" style="max-height: 400px; max-width: 400px; border-radius: 7px;">
               </div>
               <div class="card-content">
                   <span class="card-title activator grey-text text-darken-4">Galaxy Watch Active<i class="material-icons right">expand_less
</i></span>
                   <p>Price: Rs. 19,990</p>
               </div>
               <div class="card-reveal">
                   <span class="card-title grey-text text-darken-4">Galaxy Watch Active<i class="material-icons right">close</i></span>
                   <p>Sleek Sporty Design in 4 Premium finishes. Full Colour Super AMOLED with Always On Watchfaces.</p>
                   <p>24/7 Activity Tracking - 4 stage Sleep, Activity with continuous Heart Rate Monitoring.</p>
                   <br>
                   <p>Specifications:</p>
                   <ul>
                    <li><b>Infra:</b> Bluetooth Only</li>
                    <li><b>ANT+:</b> No</li>
                    <li><b>Location Technology:</b> GPS,Glonass,Beidou,Galileo</li>
                    <li><b>Wi-Fi:</b> 802.11 b/g/n 2.4GHz</li>
                    <li><b>NFC:</b> Yes</li>
                    <li><b>Bluetooth Version:</b> Bluetooth v4.2</li>
                    <li><b>OS:</b> Tizen</li>
                    <li><b>Technology (Main Display):</b> Super AMOLED</li>
                    <li><b>Size (Main Display):</b> 2.81cm (1.1")</li>
                    <li><b>Resolution (Main Display):</b> 360 x 360</li>
                    <li><b>Standard Battery Capacity:</b> 230mAh</li>
                    <li><b>Audio Playing Format:</b> MP3,M4A,3GA,AAC,OGG,OGA,WAV,WMA,AMR,AWB</li>
                   </ul>
               </div>
           </div>
       </div>
       </div>
        </div>
    </div>

    <div class="row slideanim" style="align-items: center; padding-left: 270px;">
        <div class="column">
        <div class="col s8 m12">
        <div class="w3-green w3-hover-shadow w3-padding-64 w3-center">
    <div class="card" style="max-height: 423px;">
            <div class="card-image waves-effect waves-block waves-light">
                   <img class="activator" src="{% static 'hp_envy.png' %}" style="max-height: 400px; max-width: 400px; border-radius: 7px;">
               </div>
               <div class="card-content">
                   <span class="card-title activator grey-text text-darken-4">HP ENVY x360 - 13<i class="material-icons right">expand_less
</i></span>
                   <p>Price: Rs. 83,496</p>
               </div>
               <div class="card-reveal">
                   <span class="card-title grey-text text-darken-4">HP ENVY x360 - 13-ag0035au<i class="material-icons right">close</i></span>
                   <h4>Experience Windows 10</h4>
                   <p>Enhance your efficiency with Multi-Task windows, connect your Xbox One in all new ways, use the laptop as a monitor for your smartphone and a Stylus Pen allows you to sketch and draw with digital ink to get more done, faster, in a natural way.</p><br>
                   <h4>Power to turn heads</h4>
                   <p>Tap into truly impressive notebook performance with AMD® Ryzen™, Radeon™ Vega graphics and up to 12.5 hours of battery life for work and play.</p>
                  <br>
                  <p>Specifications:</p>
                  <ul>
                  <li><b>Operating system:</b> Windows 10 Home Single Language 64</li>
                  <li><b>Processor Name:</b> AMD Ryzen™ 5 2500U Quad-Core (2 GHz base frequency, up to 3.6 GHz burst frequency, 6 MB cache)</li>
                  <li><b>Memory:</b> 8 GB DDR4-2400 SDRAM (onboard)</li>
                  <li><b>Hard drive description:</b> 256 GB PCIe® NVMe™ M.2 SSD</li>
                  <li><b>Display HP:</b> 33.78(13.3) diagonal FHD IPS BrightView WLED-backlit micro-edge multitouch-enabled edge-to-edge glass (1920 x 1080)</li>
                  <li><b>Graphics:</b> AMD Radeon™ Vega 8 Graphics</li>
                  <li><b>Ports:</b> 1 USB 3.1 Type-C™ Gen 2 (Data Transfer up to 5 Gb/s, Power Delivery, DisplayPort™ 1.4, HDMI 2.0, HP Sleep and Charge); 2 USB 3.1 Gen 1 (1 HP Sleep and Charge); 1 headphone/microphone combo</li>
                  <li><b>Expansion slots:</b> 1 microSD media card reader</li>
                  <li><b>Dimensions without stand (W x D x H):</b> 30.67 x 21.46 x 1.49 cm</li>
                  <li><b>Weight:</b> Starting at 1.3 kg</li>
                  </ul>
               </div>
           </div>
       </div>
       </div>
        </div>

         <div class="column">
        <div class="col s8 m12">
        <div class="w3-green w3-hover-shadow w3-padding-64 w3-center" style="padding-left: 170px;">
    <div class="card" style="max-height: 500px;">
            <div class="card-image waves-effect waves-block waves-light">
                   <img class="activator" src="{% static 'hp_pavilion15.png' %}" style="max-height: 400px; max-width: 400px; border-radius: 7px;">
               </div>
               <div class="card-content">
                   <span class="card-title activator grey-text text-darken-4">HP Gaming Pavilion - 15<i class="material-icons right">expand_less
</i></span>
                   <p>Price: Rs. 103,241</p>
               </div>
               <div class="card-reveal">
                   <span class="card-title grey-text text-darken-4">HP Gaming Pavilion - 15-dk0049tx<i class="material-icons right">close</i></span>
                   <p>Experience high-grade graphics and processing power that meets your gaming and multitasking needs. Take on anything and everything with up to 9th Gen Intel® Core™ processor and NVIDIA® GeForce® graphics.</p>
                   <p>Equipped with a dual fan system for enhanced thermal cooling, wide rear corner vents and additional air inlets that maximise airflow to optimise your overall performance and stability.</p>
                   <br>
                   <p>Specifications:</p>
                   <ul>
                    <li><b>Operating system:</b> Windows 10 Home 64</li>
                    <li><b>Processor Name:</b> Intel® Core™ i7-9750H (2.6 GHz base frequency, up to 4.5 GHz base with Intel® Turbo Boost Technology, 12 MB cache, 6 cores)</li>
                    <li><b>Processor family:</b> 9th Generation Intel® Core™ i7 processor</li>
                    <li><b>Memory:</b> 8 GB DDR4-2666 SDRAM (1 x 8 GB)</li>
                    <li><b>Hard drive description:</b> 1 TB 7200 rpm SATA</li>
                    <li><b>Hard drive (2nd):</b> 256 GB PCIe® NVMe™ M.2 SSD</li>
                    <li><b>Storage type:</b> SSD; HDD</li>
                    <li><b>Display:</b> 39.62 cm(15.6) diagonal Full HD display</li>
                    <li><b>Graphics:</b> NVIDIA® GeForce® GTX 1650 Graphics (4 GB GDDR5 dedicated)</li>
                    <li><b>Ports:</b> 1 USB 3.1 Gen 2 Type-C™ (10 Gb/s signaling rate, Power Delivery 3.0, DisplayPort™ 1.4, HP Sleep and Charge); 1 USB 3.1 Gen 1 Type-A (HP Sleep and Charge); 2 USB 3.1 Gen 1 Type-A (Data Transfer Only); 1 HDMI; 1 AC smart pin; 1 RJ-45; 1 headphone/microphone combo</li>
                    <li><b>Expansion slots:</b> 1 multi-format SD media card reader</li>
                    <li><b>Dimensions without stand (W x D x H):</b> 36 x 25.6 x 2.34 cm</li>
                    <li><b>Weight:</b> Starting at 2.25 kg</li>
                   </ul>
               </div>
           </div>
       </div>
       </div>
        </div>
    </div>
    <br>


    <div class="row slideanim" style="align-items: center; padding-left: 50px;">
        <div class="column">
        <div class="col s8 m12">
    <div class="card" style="max-height: 500px;">
            <div class="card-image waves-effect waves-block waves-light">
                   <img class="activator" src="{% static 'bose_speaker.jpeg' %}" style="max-height: 400px; max-width: 400px; border-radius: 7px;">
               </div>
               <div class="card-content">
                   <span class="card-title activator grey-text text-darken-4">Bose Home Speaker 500<i class="material-icons right">expand_less
</i></span>
                   <p>Price: Rs. 39,000</p>
               </div>
               <div class="card-reveal">
                   <span class="card-title grey-text text-darken-4">Bose Home Speaker 500<i class="material-icons right">close</i></span>
                   <p>WALL-TO-WALL STEREO FROM A SINGLE SPEAKER</p>
                   <br>
                   <h4>Amazon Alexa built in icon</h4>
                   <p>Amazon Alexa Built In</p><br>
                   <h4>Voice pickup icon</h4>
                   <p>Superior Voice Pickup</p><br>
                   <h4>Control with voice, touch or app icon</h4>
                   <p>Control with voice, touch or app</p><br>
                   <h4>Preset buttons icon</h4>
                   <p>Six preset buttons</p><br>
                   <h4>Wi-Fi and Bluetooth icon</h4>
                   <p>Wi-Fi® AND Bluetooth® Connectivity</p><br>
                   <p>Specifications:</p>
                   <ul>
                    <li><b>Dimensions/weight of speaker:</b> 20.3 cm H x 17 cm W x 10.9 cm D (2.15 kg)</li>
                   </ul>
               </div>
           </div>
       </div>
        </div>

        <div class="column">
        <div class="col s8 m12">
        <div class="w3-green w3-hover-shadow w3-padding-64 w3-center" style="padding-left: 100px;">
    <div class="card" style="max-height: 470px;">
            <div class="card-image waves-effect waves-block waves-light">
                   <img class="activator" src="{% static 'bose_headphones.jpg' %}" style="max-height: 400px; max-width: 400px; border-radius: 7px;">
               </div>
               <div class="card-content">
                   <span class="card-title activator grey-text text-darken-4">Bose Headphones 700<i class="material-icons right">expand_less
</i></span>
                   <p>From Rs. 34,500</p>
               </div>
               <div class="card-reveal">
                   <span class="card-title grey-text text-darken-4">Bose Noise Cancelling Headphones 700<i class="material-icons right">close</i></span>
                   <p>Bose Noise Cancelling Headphones 700 deliver everything you expect—and things you never imagined possible. Think of them as smart headphones that let you keep your head up to the world with easy access to voice assistants.</p>
                   <p>Or confidently take a call with the most powerful microphone system for voice pickup. And then there’s Bose AR*, a first-of-its-kind audio augmented reality platform that makes astonishing new audio experiences possible.</p>
                   <br>
                   <p>Specifications:</p>
                   <ul>
                    <li><b>Headphones:</b> 20.3 cm H x 16.5 cm W x 5.1 cm D (0.25 kg)</li>
                    <li><b>Carrying case:</b> 21.8 cm H x 17.9 cm W x 6.2 cm D (0.18 kg)</li>
                    <li><b>Audio cable:</b> 1.06 m</li>
                    <li><b>USB cable:</b> 0.5 m</li>
                    <li><b>Bluetooth® version:</b> Bluetooth 5.0</li>
                    <li><b>Bluetooth range:</b> Up to 10 m (33 ft)</li>
                    <li><b>Battery charging time:</b> Up to 2.5 hours</li>
                    <li><b>Fast charge time:</b> 15 min for 3.5 hours</li>
                    <li><b>Battery life:</b> Up to 20 hours</li>
                    <li><b>Connecion:</b> USB-C connection</li>
                    </ul>
               </div>
           </div>
       </div>
       </div>
        </div>
    </div>

    <div class="row slideanim" style="align-items: center; padding-left: 270px;">
        <div class="column">
        <div class="col s8 m12">
        <div class="w3-green w3-hover-shadow w3-padding-64 w3-center">
    <div class="card" style="max-height: 500px;">
            <div class="card-image waves-effect waves-block waves-light">
                   <img class="activator" src="{% static 'mac_air1.jpg' %}" style="max-height: 400px; max-width: 400px; border-radius: 7px;">
               </div>
               <div class="card-content">
                   <span class="card-title activator grey-text text-darken-4">MacBook Air<i class="material-icons right">expand_less
</i></span>
                   <p>Price: Rs. 99,900</p>
               </div>
               <div class="card-reveal">
                   <span class="card-title grey-text text-darken-4">MacBook Air<i class="material-icons right">close</i></span>
                   <p>Available in silver, space grey and gold, the new thinner and lighter MacBook Air features a brilliant Retina display with True Tone technology, Touch ID, the latest-generation keyboard and a Force Touch trackpad.</p>
                   <p>The iconic wedge is created from 100 per cent recycled aluminium, making it the greenest Mac ever And with all-day battery life, MacBook Air is your perfectly portable, do-it-all notebook.</p>
                   <br>
                   <p>Specifications:</p>
                   <ul>
                    <li><b>Display:</b> Retina display</li>
                    <li>13.3-inch (diagonal) LED-backlit display with IPS technology; 2560x1600 native resolution at 227 pixels per inch with support for millions of colours</li>
                    <li><b>Supported scaled resolutions:</b> 1680x1050 | 1440x900 | 1024x640 | 16:10 aspect ratio</li>
                    <li><b>Tech:</b> True Tone technology</li>
                    <li><b>Touch ID:</b> Integrated Touch ID sensor</li>
                    <li><b>Processor:</b> 1.6GHz dual-core Intel Core i5, Turbo Boost up to 3.6GHz, with 4MB L3 cache</li>
                    <li><b>Memory:</b> 8GB of 2133MHz LPDDR3 onboard memory</li>
                   </ul>
               </div>
           </div>
       </div>
       </div>
        </div>

         <div class="column">
        <div class="col s8 m12">
        <div class="w3-green w3-hover-shadow w3-padding-64 w3-center" style="padding-left: 170px;">
    <div class="card" style="max-height: 500px;">
            <div class="card-image waves-effect waves-block waves-light">
                   <img class="activator" src="{% static 'ipad_air.jpg' %}" style="max-height: 400px; max-width: 400px; border-radius: 7px;">
               </div>
               <div class="card-content">
                   <span class="card-title activator grey-text text-darken-4">Ipad Air<i class="material-icons right">expand_less
</i></span>
                   <p>Price: Rs. 44,900</p>
               </div>
               <div class="card-reveal">
                   <span class="card-title grey-text text-darken-4">Ipad Air<i class="material-icons right">close</i></span>
                   <p>iPad Air brings more of our most powerful technologies to more people than ever. A12 Bionic chip with Neural Engine. A 10.5-inch Retina display with True Tone. Support for Apple Pencil and the Smart Keyboard. And at just 456 grams and 6.1 millimetres thin, carrying all that power is effortless.</p>
                   <br>
                   <p>Specifications:</p>
                   <ul>
                    <li><b>Display:</b> Retina display</li>
                    <li>10.5-inch (diagonal) LED-backlit Multi-Touch display</li>
                    <li><b>Resolution:</b> 2224x1668 resolution at 264 pixels per inch (ppi)</li>
                    <li><b>Fingerprint Coating:</b> Fingerprint-resistant oleophobic coating</li>
                    <li><b>Coating:</b> Anti-reflective coating</li>
                    <li><b>Reflectivity:</b> 1.8% reflectivity</li>
                    <li><b>Brightness:</b> 500 nits brightness</li>
                    <li><b>Pencil:</b> Supports Apple Pencil</li>
                    <li><b>Camera:</b> 8-megapixel camera</li>
                    <li><b>Illumination:</b> Backside illumination</li>
                    <li><b>Video Recording:</b> 1080p HD video recording</li>
                    <li><b>Time-lapse:</b> Time-lapse video with stabilisation</li>
                   </ul>
               </div>
           </div>
       </div>
       </div>
        </div>
    </div>

</body>
{% endblock %}
